<html>

<head>
    <title>Culture Gallery</title>
    <link rel="stylesheet" href='/stylesheets/main_style.css' type="text/css">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="icon" href="/images/favicon.ico">
</head>

<body>
    <header>
        <div class="nav-bar">
            <img src="../images/icon.png" alt="" class="logo">
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="">Services</a></li>
                <li><a href="">Portfolio</a></li>
                <li><a href="">Testimonimal</a></li>
                <li><a href="">Career</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>
        <div class="title">
        </div>
        <div class="welcome">
            <h1>Open Gallery</h1>
            <div class="search-box">
                <form action='findPage' method="GET">
                    <input type="text" placeholder="어떤 공연을 찾으시나요?">
                    <button type="submit">검색</button>
                </form>
            </div>
            <div class="boxes">
                <a href="mappage" class="btn btn1">나의 근처 공연</a>
                <a href="login" class="btn btn3">로그인</a>
            </div>

        </div>
    </header>


</body>

</html>